*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Header con Boostrap*/

.logo { background-image: url(../recursos/logothnk.png);
        background-size: cover;
        height: 40px;
        width: 120px;
        background-position: center;
      }

.navbar { background-color: white;
          color: black;
          border-top: solid 20px black;
          border-bottom: solid 2px grey;
          font-weight: 400;
          font-size: 18px;
        }

.navbar a { text-decoration: none;
            color: black;
          }

.navbar-toggler { background-color: white;
                }

.navbar-toggler i {font-size: 25px;}

.navbar-toggler-icon { display:inline;
                     }

.collapse { justify-content: right;
          }

.nav-item { background-color: white;
            text-align: center;}

.nav-item:hover {background-color:#c2c2c2;}

/*MAIN*/

/*
main{height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }    
*/

/*Carrusel Index*/

.carousel-item img { width: 100%;
                     height: 60vh;
                     margin-bottom: 0;    
                   }
.carousel-caption {color: white;} 

/*FOOTER*/

footer {width:100%;
        height: auto;
        background-color: green;
        display: flex;
        flex-direction: column;
        align-items: center;}

.footer1 {height: auto;
          width: 100%;
          background-color:white;
          border-top: solid 2px grey;
          color: grey;
         }


.Direccion {width:50vw;
            height: auto;
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
           }

.Sociales { text-align: center;
            height: fit-content;
            padding: 16px;
           }
   
.Contacto { text-align: center;
            height: fit-content;
            padding: 16px;
           }

.footer1 h4{ font-style: normal;
            font-weight: bold;
            font-size: 22px;
            }

.footer1 p { font-style: normal;
             font-weight:normal;
             font-size: 18px;}

.footer1 ol li {list-style: none;
                margin-top: 8px;
                margin-bottom: 8px;
               }

.footer1 a {text-decoration: none;
            color: grey;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            }

.footer1 a:hover {font-weight: 600;}

.footer2  { height: auto;
            width: 100%;
            background-color: black;
            padding: 1rem;
            color: white;
          }

.logo-footer2 { background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
              }

.nav-footer2 {text-align: center;}

.footer2 a {color:white;
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;}
  

.nav-footer2 ul li { list-style: none;
                     margin-left: 8px;
                     margin-right: 8px;
                   }

.footer2 a:hover {font-weight: 600;}


/*Aca empiezo con las paginas*/

/*Titulo de las paginas*/

.title {text-align: center;
        font-size: 24px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: black;}


/*Seccion suscribirse a newsletter*/

.suscripcion-noticias{height: auto;
                      width: 100%;
                      background-color:#F0F0F0;
                      text-align: center;
                      padding: 16px;
                     }

.suscripcion-noticias h3 {
           font-style: normal;
           font-weight: bold;
           font-size: 24px;
                    }

.suscripcion-noticias h4 {
            font-style: normal;
            font-weight: 200;
            font-size: 18px;
            padding: 4px;
                    } 
            
.input-news{text-align: left;
            width: 60vw;
            height: 40px;
            margin: 8px;
        }

.input-check {margin: 8px;}
       
/*Index con Boostrap*/

/*El Estudio*/

.el-estudio { width: 80%;
              background-color:white;
              color: black;
              text-align: center;
              padding: 0.5rem;
            }

.el-estudio h1 { font-size: 32px;
                 padding: 2rem;
               }

.el-estudio h2 { font-size: 20px;
                 padding: 0.5rem;
               }

.el-estudio p { font-size: 18px;
                padding: 0.5rem; }

/*Staff*/

.Staff { width: 100%;
         height: fit-content;
         background-color: #d6d6d6;
         color: black;
         text-align: center;
         padding-top: 1rem;
         padding-bottom: 1rem;
       }

.Staff h2 {margin-top: 1rem; 
           margin-bottom: 1rem;
          }

.persona { display: flex;
           flex-direction: column;
           align-items: center;
         }

.personas h3 {font-style:normal;
                font-weight:600;
                font-size: 22px;
                margin-top: 16px;
              }
  
.personas h4 {font-style:normal;
                font-weight:normal;
                font-size: 18px;
                margin-top: 16px;}

.persona-img {height:140px;
               width: 140px;
               background-color: #d6d6d6;
               background-image: url(../recursos/persona1.png);
               background-size: cover;
               margin-bottom: 16px;
              }

#img2 {background-image: url(../recursos/persona4.png);}
#img3 {background-image: url(../recursos/persona3.png);}
#img4 {background-image: url(../recursos/persona2.png);}

/* Ultimos Proyectos */

.Ultimos-proyectos { width: 100%;
                     height: fit-content;
                     background-color: white;
                     color: black;
                     text-align: center;
                     padding-top: 1rem;
                     padding-bottom: 1rem;

                     display: flex;
                     flex-direction: column;
                   }  
                   
.Ultimos-proyectos h2 { margin-top: 1rem; 
                        margin-bottom: 1rem;

                      }

.galeria-proyectos {margin-top: 1rem;
                    margin-bottom: 1rem;}

.proyecto {height: 300px;
           width: 100%;
           background-color: #F0F0F0;
           background-image: url(../recursos/proy1.png);
           background-size: cover;
           background-position: center;
          }

#proy2 { background-image: url(../recursos/proy2.png);}
#proy3 { background-image: url(../recursos/proy3.png);}

/*Boton1*/

.Boton1  { height: auto;
          width:40vw;
          padding: 8px;
          border: solid 2px black;
          border-radius: 4px;
          font-size: 20px;
          margin: 1rem;

          align-self: center;
         }

.Ultimos-proyectos a {text-decoration: none;
              color: black;
           }

.Ultimos-proyectos a:hover {font-weight: bold;}

/*Cajon consultas*/

.cajon-consultas {width: 100%;
                  height: auto;
                  background-color:#FFBEAF;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                  padding: 1rem;
                 }

.cajon-consultas h2 {padding: 16px;}

.cajon-consultas p  {padding: 16px;
                     width: 80%;
                     font-style:normal;
                     font-weight:normal;
                     font-size: 18px;
                     margin-bottom: 16px;
                     line-height: 24px;}

.cajon-consultas a {text-decoration: none;
                    color: black;}

.cajon-consultas a:hover {font-weight: bold;}

/*PAGINA SERVICIOS*/

.img-servicio {background-color: #FF856A;
               background-image: url(../recursos/servicio1.png);
               height: 200px;
               width: 100%;
               background-size: cover;
              }

.desc-servicio {height: 200px;
               width: 100%;
               background-color:white;
               padding: 01rem; }

#serv2 {background-image: url(../recursos/servicio2.png);}
#serv3 {background-image: url(../recursos/servicio3.png);}
#serv4 {background-image: url(../recursos/servicio4.png);}

/*

/*PAGINA PROYECTOS*/

.Proyecto-right {width: 100%;
                 height: auto;
                 background-color: chartreuse;
                 color: black;
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                }

.Proyectoright-img {background-color: #b121d4;
                    width: 100%;
                    height: 200px;
                    background-image: url(../recursos/Proyecto4.png);
                    background-size: cover;
                    background-position: center;
                }

.Proyecto-right aside {height: 220px;
                       width: 100%;
                       background-color:white;
                       padding-left: 16px;
                       padding-bottom: 8px;
                       display: flex;
                       flex-direction: column;
                       align-items: flex-start;
                      }

.Proyecto-right h3{ font-family: 'Helvetica Neue';
                    font-style: normal;
                    font-weight:bold;
                    font-size: 20px;
                  }

.Proyecto-right h4 {font-family: 'Helvetica Neue';
                    font-style: normal;
                    font-weight:600;
                    font-size: 18px;
                    margin-top: 16px;
                    margin-bottom: 16px;}

.Proyecto-right p   {font-family: 'Helvetica Neue';
                    font-style: normal;
                    font-weight:normal;
                    font-size: 16px;
                    width: 90%;
                    }

.Proyecto-left {width: 100%;
                height: auto;
                background-color: rgb(212, 0, 255);
                color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
               }

.Proyectoleft-img {background-color: #b121d4;
                    width: 100%;
                    height: 200px;
                    background-image: url(../recursos/Proyecto5.png);
                    background-size: cover;
                    background-position: center;
                }

.Proyecto-left aside {height: 220px;
                       width: 100%;
                       background-color:white;
                       padding-left: 16px;
                       padding-bottom: 8px;
                       display: flex;
                       flex-direction: column;
                       align-items: flex-start;
                      }

.Proyecto-left h3{ font-family: 'Helvetica Neue';
                    font-style: normal;
                    font-weight:bold;
                    font-size: 20px;
                  }

.Proyecto-left h4 {font-family: 'Helvetica Neue';
                    font-style: normal;
                    font-weight:600;
                    font-size: 18px;
                    margin-top: 16px;
                    margin-bottom: 16px;}

.Proyecto-left p   {font-family: 'Helvetica Neue';
                    font-style: normal;
                    font-weight:normal;
                    font-size: 16px;
                    width: 90%;
                }

#Proyect3 {background-image: url(../recursos/Proyecto7.png);}

#Proyect4 {background-image: url(../recursos/Proyecto6.png);}

.tag {background-color:#FF856A;
      color:white ;
      height: auto;
      width:fit-content;
      padding: 8px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      align-self: flex-end;
     }

.Boton-ancho {width: 100%;
              height: auto;
              background-color: #FFD1C7;
              text-align: center;
              padding: 8px;
              font-size: 24px;
              font-family: 'Helvetica Neue';
              font-style: normal; 
              align-items: center;
              line-height: 22px;
             }

.Boton-ancho a {text-decoration: none;
                color: black;}

.Boton-ancho a:hover {font-weight: bold;}

/*PAGINA CONTACTO*/

.preguntas {height: auto;
            width:80vw;
            color: black;
            margin: 2rem;
            text-align: center;
            background-color: white;
            }

.preguntas h3 {font-size: 20px;
            font-family: Helvetica Neue;
            font-style: normal;
                }


.formulario {display: flex;
             flex-direction: column;
            width:fit-content;
            height: auto;
            align-items: center;}

.formulario-contacto-grid {height: auto;
                          background-color: white;
                          width: 80vw;
                          display:flex;
                          flex-direction: column;
                          align-items: center;
                         }

.formulario-contacto-grid input {height: 36px;
                                 border: 2px solid grey;
                                 border-radius: 4px;
                                 margin-top: 0.5rem;
                                 margin-bottom: 0.5rem;
                                 width: 90%;
                                }

form .textarea { height: 4rem ;
            border: 2px solid grey;
            border-radius: 4px;
            width: 85%;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          }
          
.checkbox-flex {display: flex;
                padding: 1rem;
                }

form p {font-size: 16px;
        font-family: Helvetica;
        font-style: normal;
        padding: 8px;
    }
       
.boton-formulario {width: 30%;
    height: auto;
    background-color: #FFD1C7;
    text-align: center;
    padding: 8px;
    font-size: 24px;
    font-family: 'Helvetica Neue';
    font-style: normal; 
    align-items: center;
    line-height: 22px;}

.boton-formulario:hover {font-weight: bold;}

form {margin:  2rem;}

/*PAGINA CLIENTES*/

.clientes-grid {display: grid;
                grid-template-columns: repeat(3, 1fr);}

.clientes-img { width:90%;
                height: auto;
                margin:0.5rem;}

.opinion {  background-color: #FFF0EC;
            width: 100%;
            height: auto;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
         }

.cliente-perfil {display: flex;
                 flex-direction: column;
                 align-items: center;
                }

.cliente-perfil img {width: 80%;}

.cliente-perfil h4 {font-size: 18px;
                    font-family: Helvetica;
                    font-style: normal;
                    margin-top: 0.5rem;}

.cliente-perfil h5 {font-size: 16px;
                    font-family: Helvetica;
                    font-style: normal;
                    margin-top: 0.5rem;}

.opinion-texto {padding: 2rem;
                width: 100%;
                font-family: Helvetica;
                font-style: normal;        
                }

.opinion-texto h2 {margin-top: 0.5rem;
        margin-bottom: 0.5rem;}

.opinion-texto h3 {margin-top: 0.5rem;
        margin-bottom: 0.5rem;}

.opinion-texto p {  margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    background-color: #F0F0F0;}


